.colBk{
    background: #C5CFC1; 
    border-bottom:1px solid rgb(166, 178, 132)
}

.tdBorBottom{
    border-bottom:1px solid rgb(166, 178, 132)
}

.FtrBk{
    background:#e8ebeb ; 
    border-bottom:1px solid rgb(216, 224, 210)
}

/* #F2F2F2  #e8ebeb */


.tbborder{
    border: 1px solid rgb(166, 178, 132);
}

.subRowBk{
    background-color:rgb(121, 140, 65)
}

